<div class="col-lg-4 offset-4 mt-5 bg-light rounded p-3">
    <h2 class="text-success text-center"><i class="fas fa-list-ol"></i> Login</h2>
    <form>
        <div class="form-floating m-3">
            <input type="email" class="form-control" id="login[email_address]" placeholder="email address">
            <label for="login[email_address]">Email Address</label>
        </div>
        <div class="form-floating m-3">
            <input type="password" class="form-control" id="login[password]" placeholder="password">
            <label for="login[password]">Password</label>
        </div>
        <div class="m-3">
            <button type="submit" class="btn btn-success w-100">Sign In</button>
            <p class="fst-italic fs-6 mt-2 text-secondary">If you don't have an account, click <a href="signup" class="link-success">here</a></p>
        </div>
    </form>
</div>