<div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
    <h2 class="text-success text-center"> Question 1 </h2>
    <%= pie_chart [["Option 1", 5], ["Option 2", 5]] %>
</div>
<div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
    <h2 class="text-success text-center"> Question 2 </h2>
    <h5 class="text-success text-center"> Answers: </h5>
    <ol class="text-success w-25 mx-auto">
        <li> Short Answer 1 </li>
        <li> Short Answer 2 </li>
        <li> Short Answer 3 </li>
        <li> Short Answer 4 </li>
        <li> Short Answer 5 </li>
        <li> Short Answer 6 </li>
        <li> Short Answer 7 </li>
        <li> Short Answer 8 </li>
        <li> Short Answer 9 </li>
        <li> Short Answer 10 </li>
    </ol>
</div>
<div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
    <h2 class="text-success text-center"> Question 3 </h2>
    <h5 class="text-success text-center"> Answers: </h5>
    <ol class="text-success w-100 mx-auto">
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et tellus congue, ornare turpis vitae, ullamcorper justo. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla eu risus accumsan maximus. Aenean viverra vel augue ac finibus. Fusce tristique ex ut felis elementum convallis. Nulla metus quam, efficitur eget lacus at, porta ornare odio. </li>
        <li> Aliquam varius diam sit amet est suscipit, eget commodo lacus eleifend. Duis id sem a nisl tincidunt facilisis. Fusce porta congue arcu, vel cursus dolor molestie id. Aliquam iaculis auctor nisl. Donec et malesuada velit, ut efficitur est. Donec blandit, metus vel maximus suscipit, mi felis molestie turpis, eu pulvinar nisi eros ac mauris. In in feugiat ante. Maecenas tincidunt volutpat urna, eget aliquet ante porttitor ut. Vestibulum blandit sodales ante, sit amet varius tortor. </li>
        <li> Sed auctor eros id felis imperdiet pharetra. Curabitur id lacus neque. Curabitur mollis lobortis venenatis. Suspendisse posuere feugiat dolor efficitur vehicula. Donec vel augue at ante sodales gravida. Donec auctor ipsum eget lectus mattis placerat. Maecenas non dui pretium, viverra elit in, auctor velit. Mauris et tellus risus. </li>
        <li> Sed hendrerit facilisis ipsum, in aliquam nulla feugiat sit amet. Cras aliquet vehicula lacus quis dictum. Etiam ultricies mauris neque, ut mattis libero tempor in. Suspendisse sed sagittis urna, eget dictum justo. Aenean suscipit lorem non venenatis sagittis. Suspendisse nec quam sodales, tincidunt nibh eu, accumsan lacus. Morbi cursus sem vitae sollicitudin efficitur. Fusce fermentum eget libero in fermentum. </li>
        <li> Phasellus justo nisi, fermentum vel metus ut, pulvinar varius leo. Donec interdum vitae lacus vel ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus bibendum nisi turpis, egestas aliquam sapien viverra vel. Vivamus in nisl sed ante sodales tempus. Vestibulum pulvinar cursus varius. Nulla lacinia consectetur volutpat. Donec eu dolor orci. Morbi quam lorem, imperdiet id congue in, euismod et odio. </li>
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et tellus congue, ornare turpis vitae, ullamcorper justo. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla eu risus accumsan maximus. Aenean viverra vel augue ac finibus. Fusce tristique ex ut felis elementum convallis. Nulla metus quam, efficitur eget lacus at, porta ornare odio. </li>
        <li> Aliquam varius diam sit amet est suscipit, eget commodo lacus eleifend. Duis id sem a nisl tincidunt facilisis. Fusce porta congue arcu, vel cursus dolor molestie id. Aliquam iaculis auctor nisl. Donec et malesuada velit, ut efficitur est. Donec blandit, metus vel maximus suscipit, mi felis molestie turpis, eu pulvinar nisi eros ac mauris. In in feugiat ante. Maecenas tincidunt volutpat urna, eget aliquet ante porttitor ut. Vestibulum blandit sodales ante, sit amet varius tortor. </li>
        <li> Sed auctor eros id felis imperdiet pharetra. Curabitur id lacus neque. Curabitur mollis lobortis venenatis. Suspendisse posuere feugiat dolor efficitur vehicula. Donec vel augue at ante sodales gravida. Donec auctor ipsum eget lectus mattis placerat. Maecenas non dui pretium, viverra elit in, auctor velit. Mauris et tellus risus. </li>
        <li> Sed hendrerit facilisis ipsum, in aliquam nulla feugiat sit amet. Cras aliquet vehicula lacus quis dictum. Etiam ultricies mauris neque, ut mattis libero tempor in. Suspendisse sed sagittis urna, eget dictum justo. Aenean suscipit lorem non venenatis sagittis. Suspendisse nec quam sodales, tincidunt nibh eu, accumsan lacus. Morbi cursus sem vitae sollicitudin efficitur. Fusce fermentum eget libero in fermentum. </li>
        <li> Phasellus justo nisi, fermentum vel metus ut, pulvinar varius leo. Donec interdum vitae lacus vel ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus bibendum nisi turpis, egestas aliquam sapien viverra vel. Vivamus in nisl sed ante sodales tempus. Vestibulum pulvinar cursus varius. Nulla lacinia consectetur volutpat. Donec eu dolor orci. Morbi quam lorem, imperdiet id congue in, euismod et odio. </li>
    </ol>
</div>
<div class="w-75 my-4 bg-light rounded p-3 mx-auto border border-success">
    <h2 class="text-success text-center"> Question 4 </h2>
    <%= bar_chart [["Option 1", 3], ["Option 2", 5], ["Option 3", 7], ["Option 4", 2]] %>
</div>
